@model OnlineBookStoreUser.Models.Customers
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <br />
                <div class="col-12 mb-3">
                    <label asp-for="UserName"><b style="color:burlywood;">User Name</b></label>
                    <input type="text" asp-for="UserName" class="form-control" placeholder="Enter User Name">
                </div>
                <div class="col-12 mb-3">
                    <label asp-for="Password"><b style="color:burlywood;">Password</b></label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password">
                </div>
                <div class="group" style="color:burlywood;">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign In">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk" style="color:burlywood;">
                    <a href="#forgot">Forgot Password?</a>
                </div>
            </div>

            <form asp-action="Register" asp-controller="Customers" style="color:burlywood;">
                <div class="sign-up-htm">
                    <div class="row">

                        <div class="col-md-6 mb-3">

                            <label asp-for="FirstName"><b>First Name</b></label>
                            <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter First Name">

                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="LastName"><b>Last Name</b></label>
                            <input type="text" asp-for="LastName" class="form-control" placeholder="Enter Last Name">

                        </div>
                        <div class="col-12 mb-3">
                            <label asp-for="UserName"><b>User Name</b></label>
                            <input type="text" asp-for="UserName" class="form-control" placeholder="Enter User Name">
                        </div>
                        <div class="col-12 mb-3">
                            <label asp-for="Password"><b>Password</b></label>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password">
                        </div>
                        <div class="col-12 mb-3">
                            <label asp-for="Email"><b>Email</b></label>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Enter Email">
                        </div>

                        <br />
                        <hr />
                        <h4 class="col-12 mb-3">Billing Address</h4>
                        <hr />
                        <br />

                        <div class="col-12 mb-3">
                            <label asp-for="Address"><b>Address</b></label>
                            <input type="text" asp-for="Address" class="form-control" placeholder="Enter Address">
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label asp-for="Country">Country</label>
                                <select asp-for="Country" class="custom-select d-block w-100" id="country" required>
                                    <option value="">Choose...</option>
                                    <option>India</option>
                                    <option>USA</option>
                                    <option>UAE</option>
                                    <option>Australia</option>
                                    <option>England</option>
                                    <option>China</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="City">City</label>
                                <select asp-for="City" class="custom-select d-block w-100" id="state" required>
                                    <option value="">Choose...</option>
                                    <option>Delhi</option>
                                    <option>Mumbai</option>
                                    <option>Uttar Pradesh</option>
                                    <option>Haryana</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="ZipCode"><b>Zip Code</b></label>
                            <input type="text" asp-for="ZipCode" class="form-control" placeholder="Enter Zip Code">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Contact"><b>Contact</b></label>
                            <input type="text" asp-for="Contact" class="form-control" placeholder="Enter Contact">
                        </div>


                        <div class="group">
                            <br />

                            <input type="submit" class="button" value="Sign Up">
                        </div>

                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <br />
                            <br />
                            <label for="tab-1"><a> Already Member?</a></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

 